body {
    background: #212121;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 95%;        /* presque toute la largeur */
    margin: 20px auto;
    background: #303030;
    color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 15px #0005;
    box-sizing: border-box;
}

h2 {
    margin-top: 0;
    text-align: center;
    font-size: 1.6em;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 1.2em;
}

input, button {
    width: 100%;
    font-size: 1.2em;
    padding: 14px;
    margin-bottom: 15px;
    border-radius: 6px;
    box-sizing: border-box;
}

button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0065d1;
}

#result {
    margin-top: 20px;
    font-size: 1.3em;
    line-height: 1.4;
}
